@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family: "DMSerif";
    src: url(/assets/DMSerifDisplay-Regular.ttf);

    /* slash étoile pour mettre des commentaires sur CSS
Toutes les marges à 0 par défaut */

    margin: 0;
    padding: 0;

}

-->body {
    background-color: salmon;
    font-family: "DMSerif", serif;
    background: url(/fond.webp) no-repeat center/cover;
    min-height: 100vh;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 3rem;
    text-shadow: 2px -2px 2px #0000003d;
    color: antiquewhite;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

main {
    min-height: 500px;
    width: 90%;
    margin: 0 auto;
    border: 3px solid black;
    ;
    border-radius: 10px 10px 20px 20px;
    box-shadow: inset 1px 1px 3px 4px #e91e62f1;
    padding: 30px;

    background: rgba(255, 255, 255, 0.815);

}

h2 {
    margin: 0;

}

.flexbox,
.grid {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;

}

/* display flex pour pouvoir personnaliser sur la page web directement en inspectant */
.flexbox ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.flexbox li {
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background-color: rgb(163, 127, 111);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Grid, mieux de mettre la taille d'une image en width % comme ça elle s'adapte à la taille de l'écran
display grid permet de voir sur le web les différentes zones délimités en rouge, là il y a 2 zones on peut donc lui demander de mettre la 1ere zone à 30% et l'autre à 70% par ex  */
.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid img {
    width: 80%;
    margin-top: 20px;

}

/* display grid met tous les élements du formulaire à la ligne - template columns divise le questionnaire en colonne, template row en ligne  (ici2 et 3 ) */ 

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas:
    "i1 i2"
    "ta ta"
    "vi bt" ;

 }

input,textarea {
    margin: 5px;
    border: 1px solid darkcyan;
    padding: 10px;
    font-size: 1.1rem;
    font-family: "DMSerif", serif; 
    border-radius: 5px;
    height: 50px;
}

 textarea {
    grid-area: ta; 
    resize: none;
    
 }

 #btn-submit {
    grid-area: bt;
    cursor: pointer;
    background: cyan;
    transition: 1s;
 }
 #btn-submit:hover {
    background: darkcyan;
    color: white;
 }